@page "/"

@* <PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

 Welcome to your new app *@


<div class="container">
    <div class="header">
        <h1>My Header</h1>
    </div>
    <div class="main-content">
        <p>This is the main content area.</p>
    </div>
    <div class="footer">
        <p>This is the footer.</p>
    </div>
</div>


